<h3>Mitteilung hinzufügen</h3>

<f:flashMessages />

<f:form action="update"  name="message" object="{editMessage}">
	<f:form.hidden property="type" value="7"/>
	<label for="title">Titel</label>
	<f:form.textfield id="title" class="formtext" property="title" /><br/>
	<label for="subtitle">Untertitel</label>
	<f:form.textfield id="subtitle" class="formtext" property="subtitle" /><br/>
	<label for="text">Inhalt</label>
	<f:form.textarea id="text" property="text" /><br/>
	<label for="start">Start</label>
	<f:form.textfield property="start" id="start" maxlength="16" size="8" value="{editMessage.start->f:format.date(format:'d.m.Y H:i')}"/><a href="javascript:NewCal('start','ddmmyyyy',1)"><img src="fileadmin/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a><br/>
	<label for="end">Ende</label>
	<f:form.textfield property="end" id="end" maxlength="16" size="8" value="{editMessage.end->f:format.date(format:'d.m.Y H:i')}"/><a href="javascript:NewCal('end','ddmmyyyy',1)"><img src="fileadmin/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a><br/>
	<label for="submit">&nbsp;</label>	
	<f:if condition="{editMessage.uid}"><f:then><f:form.submit id="submit" value="Ändern"/></f:then>
	<f:else><f:form.submit id="submit" value="Speichern"/></f:else></f:if>
</f:form>

<h3>Mitteilungs-Liste</h3>
<table>
<tr>
	<th>Titel</th>
	<th>Untertitel</th>
	<th>Inhalt</th>
	<th>Start</th>
	<th>Ende</th>
	<th>Status</th>
<f:for each="{messages}" as="message"><tr>
        <td>{message.title}</td>
	<td>{message.subtitle}</td>
	<td>{message.text}</td>
	<td>{message.start->f:format.date(format:'d.m.Y H:i')}</td>
	<td>{message.end->f:format.date(format:'d.m.Y H:i')}</td>
	<td><a href="{f:uri.action(arguments:{editMessage:message})}">Bearb.</a> <a href="{f:uri.action(action:'delete',arguments:{message:message})}">Lösch.</a></td>
	<td class="{f:if(condition:message.isOutdated,then:'outdated')}{f:if(condition:message.isActive,then:'active')}">&nbsp;&nbsp;</td>
</tr></f:for>
</table>

