<label for="title">
	<f:translate key="tx_stdapp_domain_model_resource.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="subtype">
	<f:translate key="tx_stdapp_domain_model_resource.subtype" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="subtype" /><br />
<label for="url">
	<f:translate key="tx_stdapp_domain_model_resource.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="path">
	<f:translate key="tx_stdapp_domain_model_resource.path" />
</label><br />
	<f:form.textfield property="path" /><br />
<label for="content">
	<f:translate key="tx_stdapp_domain_model_resource.content" />
</label><br />
	<f:form.textarea property="content" cols="40" rows="15" /><br />
<label for="sort">
	<f:translate key="tx_stdapp_domain_model_resource.sort" />
</label><br />
	<f:form.textfield property="sort" /><br />
<label for="disabled">
	<f:translate key="tx_stdapp_domain_model_resource.disabled" />
</label><br />
	<f:form.checkbox property="disabled" value="1" /><br />