<label for="identifier">
	<f:translate key="tx_stdapp_domain_model_customer.identifier" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="identifier" /><br />
<label for="companyName">
	<f:translate key="tx_stdapp_domain_model_customer.company_name" />
</label><br />
	<f:form.textfield property="companyName" /><br />
<label for="contactEmail">
	<f:translate key="tx_stdapp_domain_model_customer.contact_email" />
</label><br />
	<f:form.textfield property="contactEmail" /><br />
<label for="enquiryEmail">
	<f:translate key="tx_stdapp_domain_model_customer.enquiry_email" />
</label><br />
	<f:form.textfield property="enquiryEmail" /><br />
<label for="longitude">
	<f:translate key="tx_stdapp_domain_model_customer.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="latitude">
	<f:translate key="tx_stdapp_domain_model_customer.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="txtColorHeader">
	<f:translate key="tx_stdapp_domain_model_customer.txt_color_header" />
</label><br />
	<f:form.textfield property="txtColorHeader" /><br />
<label for="txtTransparencyHeader">
	<f:translate key="tx_stdapp_domain_model_customer.txt_transparency_header" />
</label><br />
	<f:form.textfield property="txtTransparencyHeader" /><br />
<label for="status">
	<f:translate key="tx_stdapp_domain_model_customer.status" />
</label><br />
	<f:form.textfield property="status" /><br />