<table class="tx-stdapp" >
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.identifier" />
		</td>
		<td>
			{customer.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.company_name" />
		</td>
		<td>
			{customer.companyName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.contact_email" />
		</td>
		<td>
			{customer.contactEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.enquiry_email" />
		</td>
		<td>
			{customer.enquiryEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.longitude" />
		</td>
		<td>
			{customer.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.latitude" />
		</td>
		<td>
			{customer.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.txt_color_header" />
		</td>
		<td>
			{customer.txtColorHeader}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.txt_transparency_header" />
		</td>
		<td>
			{customer.txtTransparencyHeader}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stdapp_domain_model_customer.status" />
		</td>
		<td>
			{customer.status}
		</td>
	</tr>
</table>