l>
<head>
<title>Seitentitel</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<!-- ###DOCUMENT_BODY### START-->
<div id="Page">
    <div id="Left">
        <div id="Menu">
            <!-- ###MENU### START--> 
                <a href="einfuehrung.htm">Navigationslink</a>
            <!-- ###MENU### END-->
        </div>
    </div>
    <div id="Content">
        <!-- ###CONTENT### -->
            <h1>Willkommen</h1>
            <h2>Hier soll der Inhalt später stehen.</h2>
            <p>An dieser Stelle soll später der Inhalt von TYPO3 eingefügt werden.</p>
        <!-- ###CONTENT### -->
    </div>
    <div id="FooterLayer"></div>
</div>
<!-- ###DOCUMENT_BODY### END-->
</body>
</html>
